<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.in.github">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <activity android:name=".iAppDecompile"/>

        <activity android:name=".ReinforceCamouflag"/>

        <activity android:name=".HTMLDecompile"/>

        <activity android:name=".HTMLEncrypt"/>

        <activity android:name=".JSEncrypt"/>

        <activity android:name=".DamagePackage"/>

    </application>

</manifest>
